In [1]:
print("Hello")

Hello

In [ ]:
INSERT INTO Users 
VALUES(1,"John","john@gmail.com","password1","Mumbai","Maharashtra","India","9947123456",STR_TO_DATE('06-01-2021', '%d-%m-%Y'),'083000');

In [5]:
count=1
name = "John"
date = 1
month = 2
year = 2021
hh = 8

In [8]:
print(required)

INSERT INTO Users VALUES(1,'John','John@gmail.com','password1','Mumbai','Maharashtra','India','9947123456',STR_TO_DATE('1-2-2021', '%d-%m-%Y'),'83000');

In [19]:
print(i)

29

In [12]:
f = open('mumbai.txt','w')
f.close()

In [13]:
import pandas as pd
import numpy as np
from random import randint


names = pd.read_csv("names.csv")
unique_names =np.unique(names['name'])


def random_with_N_digits(n):
    range_start = 10**(n-1)
    range_end = (10**n)-1
    return randint(range_start, range_end)




count=1
year=2020
month = 1
hh = 1
date=1

f = open('mumbai.txt','a')
per_city = 120
list_of_cities = ['Ahmedabad','Gandhinagar','Mumbai','Chennai','Kochi','Hyderabad','Delhi','Kolkata','Madrid']
list_of_states = ['Gujarat','Gujarat','Maharashtra','Tamil Nadu','Kerala','Telangana','Delhi','West Bengal','Madrid']
list_of_countries =['India','India','India','India','India','India','India','India','Spain']
for city,state,country in zip(list_of_cities,list_of_states,list_of_countries):
    for i in range(per_city):
        name = unique_names[count]
        required = f"INSERT INTO Users VALUES({count},'{name}','{name}@gmail.com','password{count}','{city}','{state}','{country}','{random_with_N_digits(10)}',STR_TO_DATE('{date}-{month}-{year}', '%d-%m-%Y'),'{hh}3000');"
        required = required + "\n"
        f.write(required)
        date = (date+1)%28
        date+=1
        month = (month+1)%11
        month+=1
        hh = (hh+1)%24
        count +=1

In [17]:
count=1
name_count =5000
year=2020
month = 1
hh = 1
date=1
f.close()
f = open('retailer.txt','w')
f = open('retailer.txt','a')
per_city = 50
list_of_cities = ['Ahmedabad','Gandhinagar','Mumbai','Chennai','Kochi','Hyderabad','Delhi','Kolkata','Madrid']
list_of_states = ['Gujarat','Gujarat','Maharashtra','Tamil Nadu','Kerala','Telangana','Delhi','West Bengal','Madrid']
list_of_countries =['India','India','India','India','India','India','India','India','Spain']
for city,state,country in zip(list_of_cities,list_of_states,list_of_countries):
    for i in range(per_city):
        name = unique_names[name_count]
        required = f"INSERT INTO Retailer VALUES({count},'{name}','{name}@gmail.com','{city}','{state}','{country}');"
        required = required + "\n"
        f.write(required)
        date = (date+1)%28
        date+=1
        month = (month+1)%11
        month+=1
        hh = (hh+1)%24
        count +=1
        name_count+=1

In [11]:
Electronics=[("Apple Iphone 12","47899","Mobile Phone"),("Xiaomi Redmi 8","7599","Mobile Phone"),("Xiaomi Redmi 9","8399","Mobile Phone"),("Xiaomi Redmi Note 10 Pro","15529","Mobile Phone"),("Vivo V28","12846","Mobile Phone"),("Oppo F64","11564","Mobile Phone"),("Lenovo Zenphone","7199","Mobile Phone"),("HTC Desire","6599","Mobile Phone"),("Huawei Air","15499","Mobile Phone"),("Samsung Galaxy Note 5","22000","Mobile Phone"),("Apple Iphone SE","42999","Mobile Phone"),("Apple Macbook Air","55600","Laptop"),("Lenovo Thinkpad HV324","31500","Laptop"),("Dell Vostro H3424","38400","Laptop"),("HP Pavillion","35600","Laptop"),("Acer Aspire","33300","Laptop"),("Apple Macbook Pro","122000","Laptop"),("HP Omen V2341","75660","Laptop"),("Lenovo Ideapad S1234","59990","Laptop"),("Mi Notebook Horizon","54999","Laptop"),("Dell Inspiron 3452","34999","Laptop"),("Asus Vivobook Ultra K14","42500","Laptop"),("Acer One 14 Z2-485","25990","Laptop"),("boat bassheads","749","Ear Phones"),("boat rockerz 450 Bluetooth","1299","Ear Phones"),("JBL T460BT","2799","Ear Phones"),("Zebronics Zeb Thunder","795","Ear Phones"),("JBL C100SI","699","Ear Phones"),("Ptron Boom","399","Ear Phones"),("Sony MDR-Zx","649","Ear Phones"),("JBL C115TWS", "4748","Ear Phones"),("Boult Audio Bass heads", "599","Ear Phones"),("Cosmic Byte Star Dust","799","Ear Phones"),("pTron Tangent Beat","799","Ear Phones")]

In [53]:
f= open('insert_electronics_product.sql','w')
f.close()
f = open('insert_electronics_product.sql','a')
f.write("use ecommerce;\n")


r= open('insert_electronics_desc.sql','w')
r.close()
r = open('insert_electronics_desc.sql','a')
r.write("use ecommerce;\n")

pid=1
category_id = 2
date =12
month =4
year = 2016
quantity_stock = 2
retailer_id=1
Electronics=[("Apple Iphone 12","47899","Mobile Phone"),("Xiaomi Redmi 8","7599","Mobile Phone"),("Xiaomi Redmi 9","8399","Mobile Phone"),("Xiaomi Redmi Note 10 Pro","15529","Mobile Phone"),("Vivo V28","12846","Mobile Phone"),("Oppo F64","11564","Mobile Phone"),("Lenovo Zenphone","7199","Mobile Phone"),("HTC Desire","6599","Mobile Phone"),("Huawei Air","15499","Mobile Phone"),("Samsung Galaxy Note 5","22000","Mobile Phone"),("Apple Iphone SE","42999","Mobile Phone"),("Apple Macbook Air","55600","Laptop"),("Lenovo Thinkpad HV324","31500","Laptop"),("Dell Vostro H3424","38400","Laptop"),("HP Pavillion","35600","Laptop"),("Acer Aspire","33300","Laptop"),("Apple Macbook Pro","122000","Laptop"),("HP Omen V2341","75660","Laptop"),("Lenovo Ideapad S1234","59990","Laptop"),("Mi Notebook Horizon","54999","Laptop"),("Dell Inspiron 3452","34999","Laptop"),("Asus Vivobook Ultra K14","42500","Laptop"),("Acer One 14 Z2-485","25990","Laptop"),("boat bassheads","749","Ear Phones"),("boat rockerz 450 Bluetooth","1299","Ear Phones"),("JBL T460BT","2799","Ear Phones"),("Zebronics Zeb Thunder","795","Ear Phones"),("JBL C100SI","699","Ear Phones"),("Ptron Boom","399","Ear Phones"),("Sony MDR-Zx","649","Ear Phones"),("JBL C115TWS", "4748","Ear Phones"),("Boult Audio Bass heads", "599","Ear Phones"),("Cosmic Byte Star Dust","799","Ear Phones"),("pTron Tangent Beat","799","Ear Phones")]
for product in Electronics:
    product_name,price,sub_category =product[0],product[1],product[2]
    required = f"INSERT INTO Products VALUES({pid},'{product_name}',{category_id},STR_TO_DATE('{date}-{month}-{year}', '%d-%m-%Y'),NULL,{float(price)},{retailer_id},{quantity_stock});"

    electronic_details = f"INSERT INTO Electronics VALUES({pid},'{product_name}','{product_name} is a must to improve the productivity','{sub_category}');"

    pid+=1
    date = (date%28)
    date = date+1
    month = month%11
    month = month +1
    year+=1
    if year%2020 ==0:
        year = 2016
    quantity_stock+=1
    if quantity_stock%6==0:
        quantity_stock=1
    retailer_id+=1
    if retailer_id%25==0:
        retailer_id=1
    required = required +'\n'
    electronic_details = electronic_details + '\n'
    f.write(required)
    r.write(electronic_details)

In [34]:
print(pid)

35

In [4]:

a = open('insert_novel_product.sql','w')
a.write("use ecommerce;\n")


w= open('insert_novel_desc.sql','w')
w.write("use ecommerce;\n")

curr_pid = 35
pid = curr_pid
category_id=3
retailer_id=40
Novels=[("The Davinci Code","166","Dan Brown","06-07-2010"),("Angels and Demons","232","Dan Brown","14-05-2009"),("Deception Point","189","Dan Brown","14-05-2009"),("The Lost Symbol","216","Dan Brown","15-09-2009"),("Sacred Games","215","Vikram Chandra","03-03-2011"),("Harry Potter and the Philosphers stone","240","JK Rowling","01-09-2014"),("Harry Potter and the Chamber of Secrets","299","JK Rowling","03-09-2014"),("The Fountainhead","230","Ayn Rand","01-09-1996"),("One Indian Girl","118","Chetan Bhagat","01-10-2016"),("The Adventure of Sherlock Holmes","112","Sir Arthur Conan Doyle","01-09-2016")]

for product in Novels:
    product_name,price,author,pub_date =product[0],product[1],product[2],product[3]
    required = f"INSERT INTO Products VALUES({pid},'{product_name}',{category_id},STR_TO_DATE('{pub_date}', '%d-%m-%Y'),NULL,{float(price)},{retailer_id},{quantity_stock});"

    novel_details = f"INSERT INTO Novels VALUES({pid},'{product_name}','{author}',STR_TO_DATE('{pub_date}', '%d-%m-%Y'),'{product_name} by {author} is a good one to read');"
    pid+=1
    
    quantity_stock+=1
    if quantity_stock%6==0:
        quantity_stock=1
    retailer_id+=1
    if retailer_id%5==0:
        retailer_id=40
    required = required +'\n'
    novel_details = novel_details+'\n'
    a.write(required)
    w.write(novel_details)

a.close()
w.close()

In [9]:
cloth_pid = 45
category_id =1
pid = cloth_pid
quantity_stock=1
c= open('insert_clothes_product.sql','w')
c.write("use ecommerce;\n")

q = open('insert_cloth_desc.sql','w')
q.write("use ecommerce;\n")


clothes=[("Arrow: Mens Regular fit solid shirt","4199","01-10-2020","Arrow"),("Louis Philippe: Mens Regular fit formal shirt","4269","04-11-2020","Louis Philippe"),("Tommy Hilfiger: Mens Regular fit formal shirt","4499","10-11-2020","Tommy Hilfiger"),("Mens Bomber Jacket","1011","10-12-2020","Fort Collins"),("Mens Cotton Turtle Neck Sweater","782","11-09-2018","Denimholic"),("Round Neck Sweater","639","12-07-2018","Alan Jones"),("Blended Sweater","899","13-05-2017","Aarbee"),("Relaxed Jeans","628","20-07-2019","Ben Martin"),("Slim Fit Denim Jeans","529","12-12-2020","Urbano Fashion"),("Cut and Sew Denim Jeans","856","13-12-2020","Campus Sutra")]

retailer_id=45
for product in clothes:
    product_name,price,pub_date,brand =product[0],product[1],product[2],product[3]
    required = f"INSERT INTO Products VALUES({pid},'{product_name}',{category_id},STR_TO_DATE('{pub_date}', '%d-%m-%Y'),NULL,{float(price)},{retailer_id},{quantity_stock});"
    
    
    Cloth_details = f"INSERT INTO Clothes VALUES({pid},'{product_name}',STR_TO_DATE('{pub_date}', '%d-%m-%Y'),'{product_name} is very cool to wear.','{brand}');"

    pid+=1
    quantity_stock+=1
    if quantity_stock%6==0:
        quantity_stock=1
    retailer_id+=1
    if retailer_id%5==0:
        retailer_id=45
    Cloth_details = Cloth_details+'\n'
    required = required +'\n'
    c.write(required)
    q.write(Cloth_details)
q.close()
c.close()

## Delivery Table

In [3]:
from random import randint





def random_with_N_digits(n):
    range_start = 10**(n-1)
    range_end = (10**n)-1
    return randint(range_start, range_end)


cloth_pid = 46
category_id =1
pid = cloth_pid
quantity_stock=1
d= open('insert_delivery_address.sql','w')
d.write("use ecommerce;\n")

e=open('insert_into_orders.sql','w')
e.write("use ecommerce;\n")

list_of_cities = ['Ahmedabad','Gandhinagar','Mumbai','Chennai','Kochi','Hyderabad','Delhi','Kolkata','Madrid']
list_of_states = ['Gujarat','Gujarat','Maharashtra','Tamil Nadu','Kerala','Telangana','Delhi','West Bengal','Madrid']
list_of_countries =['India','India','India','India','India','India','India','India','Spain']


year = 2020
month =1
date = 1
index =1
hh=5
for i in range(1,11):
    for city,state,country in zip(list_of_cities,list_of_states,list_of_countries):

        
       
        required = f"INSERT INTO Delivery_Address(user_ID,city,state,country,Phone,Pin) VALUES({i},'{city}','{state}','{country}','{random_with_N_digits(10)}','{random_with_N_digits(6)}');"

        required_orders = f"INSERT INTO Orders(product_ID,user_ID,order_Date,order_Time,address_ID,quantity,rating,review) VALUES({randint(1,55)},{i},STR_TO_DATE('{date}-{month}-{year}', '%d-%m-%Y'),'{hh}3000',{index},{randint(1,10)},{randint(1,5)},'I really enjoyed it and it was an awesome experience');"
       
        required = required +'\n'
        required_orders = required_orders +'\n'
        date = (date+1)%28
        date+=1
        month = (month+1)%11
        month+=1
        hh = (hh+1)%24
        d.write(required)
        e.write(required_orders)
        index+=1
d.close()
e.close()

## Cart Table

## Order Table

In [8]:

from random import randint

g=open('insert_cart.sql','w')
g.write("use ecommerce;\n")


for j in range(1,10):
    for i in range(1,1000):
        required = f"INSERT INTO Cart(user_ID,product_ID,quantity) VALUES({i},{randint(1,54)},{randint(3,12)});"
        required = required +'\n'
        g.write(required)

        
g.close()

## History Table

In [59]:
h=open('insert_History.sql','w')
h.close()

In [6]:
from random import randint



h=open('insert_history.sql','w')
h.write("use ecommerce;\n")

for i in range(1,1000):
    required = f"INSERT INTO History(user_ID,product_ID,No_of_visits) VALUES({i},{randint(1,54)},{randint(1,20)});"
    required = required +'\n'
    h.write(required)
h.close()

## Electronics

## Novel

## Clothes