In [110]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="temp",
    passwd="password",
    database ="ecommerce"
    
)

mycursor = mydb.cursor()

In [12]:
class fill_tables:

  def __init__(self,mydb):
    self.cursor=mydb.cursor()
    self.mydb = mydb

  def insert_into_user_table(self,user_id,user_name,email,pasw,city,state,country,phone,doj,toj):

    query= """
    INSERT INTO Users VALUES(%s,%s,
    %s,%s,%s,
    %s,%s,%s, %s,%s);
    """

    self.cursor.execute(query,(user_id,user_name,email,pasw,city,state,country,phone,doj,toj))
    self.mydb.commit()


  def insert_into_retailer_table(self,user_name,email,city,state,country):

    query= """
      INSERT INTO Retailer VALUES(%s,%s,%s,%s,%s);

      """

    self.cursor.execute(query,(user_name,email,city,state,country))
    self.mydb.commit()

  def insert_into_delivery_address(self,user_ID,city,country,india,phone,pin):

    query= """
    INSERT INTO Delivery_Address(user_ID,city,state,country,Phone,Pin) VALUES(%s,%s,%s,%s,%s,%s);
    """

    self.cursor.execute(query,(user_ID,city,country,india,phone,pin))
    self.mydb.commit()

  def insert_into_order_table(self,product_ID,user_ID,order_Date,order_time,address_ID,quantity,rating,review):

    query= """
    INSERT INTO Orders(product_ID,user_ID,order_Date,order_Time,address_ID,quantity,rating,review) VALUES(%s,%s,%s,%s,%s,%s,%s,%s);

    """

    self.cursor.execute(query,(product_ID,user_ID,order_Date,order_time,address_ID,quantity,rating,review))
    self.mydb.commit()

  def insert_into_history_table(self,product_ID,user_ID,No_of_visites):

    query="""
    INSERT INTO History(user_ID,product_ID,No_of_visits) 
    VALUES(%s,%s,%s);
    """

    self.cursor.execute(query,(product_ID,user_ID,No_of_visites))
    self.mydb.commit()

  
  def insert_into_cart_table(self,user_ID,product_ID,quantity):
      query = """
       INSERT INTO Cart(user_ID,product_ID,quantity) 
       VALUES(%s,%s,%s);
      """

      self.cursor.execute(query,(user_ID,product_ID,quantity))
      self.mydb.commit()




  def insert_into_product_details(self,tablename,product_name,category_id,date_added,rating,price,retailer_id,quantity_stock):

      
      query="""
      INSERT INTO %s VALUES(%s,%s,%s,%s,%s,%s,%s);
      """

      self.cursor.execute(query,(tablename,product_name,category_id,date_added,rating,price,retailer_id,quantity_stock))
      self.mydb.commit()

In [14]:
insert = fill_tables(mydb)
insert.insert_into_user_table('10000','shamir','shamir@gmail.com','passw','Ahmedabad','Gujarat','India','1234567890','2021-02-23','2330')

In [17]:
query = "select * from Users where user_ID=10000"
mycursor.execute(query)

for line in mycursor:
    print(line)

(10000, 'shamir', 'shamir@gmail.com', 'passw', 'Ahmedabad', 'Gujarat', 'India', '1234567890', datetime.date(2021, 2, 23), datetime.timedelta(seconds=1410))

### 2. Delete a user from the database. After deleting the user update name of the user as ‘Anonymous’ in all the ratings and reviews written by that user.

In [44]:


def delete_from_user(mydb,user_ID):

    query0="""
    SET foreign_key_checks = 0;
    """
    query1="""
    update Orders set user_ID=88888 where user_ID = %s;"""

    query2 = """
    delete from Users where user_ID= %s;"""

    query3="""
    SET foreign_key_checks = 1;
    """
    mycursor= mydb.cursor()
    mycursor.execute(query0)
    mycursor.execute(query1,(user_ID,))
    mycursor.execute(query2,(user_ID,))
    mycursor.execute(query3)
    mydb.commit()

In [45]:
delete_from_user(mydb,'4')

### 3. Increment the price of all products priced below Rs. 5000 by 10%, which were viewed by more than 10 users in the last 3 months.

In [51]:

def increase_price(mydb,price_limit,interval,view_limit,percentage_increase):

    query="""

        update Products
        inner join 
        (select B.product_ID,B.price,count(B.date_visited) as Views
        from
        (select A.product_ID,A.date_visited,A.price
        from
        (select Products.product_ID, Products.price,
        History.user_ID,History.date_visited from
        History inner join Products
        on Products.product_ID =History.product_ID
        and Products.price<%s) as A
        where A.date_visited> now()- INTERVAL %s month) as B
        group by B.product_ID) as C
        on Products.product_ID=C.product_ID
        and C.Views>%s
        set Products.price=%s*Products.price;
        """
    test_query="""
    select C.product_ID,C.price,C.Views from
    Products inner join
    (select B.product_ID,B.price,count(B.date_visited) as Views
        from
        (select A.product_ID,A.date_visited,A.price
        from
        (select Products.product_ID, Products.price,
        History.user_ID,History.date_visited from
        History inner join Products
        on Products.product_ID =History.product_ID
        and Products.price<%s) as A
        where A.date_visited> now()- INTERVAL %s month) as B
        group by B.product_ID) as C
        on Products.product_ID=C.product_ID
        and C.Views>%s
    """
    percentage_increase = 1+ percentage_increase/100
    mycursor=mydb.cursor()
    mycursor.execute(test_query,(price_limit,interval,view_limit))

    print("Price Before")
    print("=======================")
    print("Product_ID | Price | Views")
    

    print("--------------------------")
    

    for line in mycursor:
        print(line)
    mycursor.execute(query,(price_limit,interval,view_limit,percentage_increase))
    mycursor.execute(test_query,(price_limit,interval,view_limit))
    
    print("\n\nPrice After")
    print("=======================")

    print("Product_ID | Price | Views")

    print("--------------------------")
    for line in mycursor:
        print(line)
    mydb.commit()

In [52]:
increase_price(mydb,5000,3,10,10)

Price Before
=======================
Product_ID | Price | Views
--------------------------
(27, 1549.23, 20)
(52, 1223.79, 20)


Price After
=======================
Product_ID | Price | Views
--------------------------
(27, 1704.15, 20)
(52, 1346.17, 20)

### 5. Find phone numbers and email IDs of all users who reside in the city ‘Madrid’ and have made a total purchase greater than or equal to Rs. 10000 in the past.

In [70]:
def find_data(mydb,city,total_purchase):

    query="""
    select C.user_name,C.email,C.phone from 
    (select B.user_name,B.email,B.phone,
    SUM(B.price) total_purchase from
    (select A.*,Products.price from
    (select Users.user_ID,Users.user_name,Users.email,
    Users.phone,Orders.product_ID 
    from Users inner join Orders
    on Users.user_ID = Orders.user_ID
    and Users.city=%s) as A
    inner join Products
    on A.product_ID = Products.product_ID) as B
    group by B.user_name,B.email,B.phone) as C
    where C.total_purchase>%s;
    """
    dbcursor=mydb.cursor()
    dbcursor.execute(query,(city,total_purchase))
    
    for line in dbcursor:
      print(line)

In [74]:
find_data(mydb,'Madrid',10000)

('Carl', 'Carl@gmail.com', '1666898865')
('Carla', 'Carla@gmail.com', '2658844727')

### 6. Find all products in the database whose name contains the string ‘mi’. E.g. Xiaomi, etc, and all users who bought them at least once.

In [63]:
def find_data(mydb,word):
    query ="""
    select Name,product_ID 
    from Electronics 
    where 
    Name LIKE %s union all 
    select Name,product_ID 
    from Novels 
    where Name LIKE %s union all 
    select Name,product_ID 
    from Clothes where Name LIKE %s ;
    """

    word = "%"+word+"%"
    dbcursor =mydb.cursor()
    dbcursor.execute(query,(word,word,word))
    
    for line in dbcursor:
        print (line)

In [64]:
find_data(mydb,'mi')

('Xiaomi Redmi 8', 2)
('Xiaomi Redmi 9', 3)
('Xiaomi Redmi Note 10 Pro', 4)
('Mi Notebook Horizon', 20)
('Cosmic Byte Star Dust', 33)

### 13. Sort all laptops according to the price in increasing order.

In [97]:
  def sort_electronics(mydb,sub_category):
    
    query = """
    select Products.product_Name,Products.price 
    from Products,Electronics
    where (Products.product_ID = Electronics.product_ID 
    and Electronics.sub_category=%s) 
    ORDER BY price DESC;

    """
    dbcursor=mydb.cursor()
    dbcursor.execute(query,(sub_category,))
    for line in dbcursor:
        print(line)

In [98]:
sort_electronics(mydb,'Laptop')

('Apple Macbook Pro', 122000.0)
('HP Omen V2341', 75660.0)
('Lenovo Ideapad S1234', 59990.0)
('Apple Macbook Air', 55600.0)
('Mi Notebook Horizon', 54999.0)
('Asus Vivobook Ultra K14', 42500.0)
('Dell Vostro H3424', 38400.0)
('HP Pavillion', 35600.0)
('Dell Inspiron 3452', 34999.0)
('Acer Aspire', 33300.0)
('Lenovo Thinkpad HV324', 31500.0)
('Acer One 14 Z2-485', 25990.0)

### 16. Print the UserId, mobile number, and Email Id of all users who have saved a product in the cart, whose quantity is less than 5.

In [105]:
 def list_product_cart(mydb,quantity):
    
    query = """
    select Cart.user_ID,Users.phone,
    Users.email
    from Cart,Users where
    Cart.quantity<%s
    and Users.user_ID=Cart.user_ID;

    """
    dbcursor=mydb.cursor()
    dbcursor.execute(query,(quantity,))
    for line in dbcursor:
        print(line)

In [106]:
list_product_cart(mydb,5)

gmail.com')
(592, '6910151867', 'Austen@gmail.com')
(593, '3749531459', 'Austin@gmail.com')
(594, '2062433655', 'Auston@gmail.com')
(598, '3399964133', 'Authur@gmail.com')
(599, '4266629877', 'Autry@gmail.com')
(601, '1886777907', 'Ava@gmail.com')
(608, '8903986929', 'Avon@gmail.com')
(609, '2307117687', 'Axel@gmail.com')
(611, '5481161708', 'Ayana@gmail.com')
(619, '4607310157', 'Azalee@gmail.com')
(620, '9761065963', 'Azaria@gmail.com')
(621, '7608601451', 'Azul@gmail.com')
(624, '8487141279', 'Babette@gmail.com')
(636, '8202851270', 'Barbara@gmail.com')
(637, '4816307359', 'Barbie@gmail.com')
(639, '4901512062', 'Barnard@gmail.com')
(645, '9759918761', 'Barrie@gmail.com')
(648, '8174368216', 'Bart@gmail.com')
(649, '9047754742', 'Bartholomew@gmail.com')
(660, '7070816871', 'Beatrice@gmail.com')
(664, '5098426291', 'Beaulah@gmail.com')
(674, '6818347605', 'Belen@gmail.com')
(686, '3303256850', 'Benita@gmail.com')
(687, '3161304916', 'Benito@gmail.com')
(689, '3304611608', 'Benjamen@gmail.com')
(693, '3457819680', 'Benjiman@gmail.com')
(696, '1167066223', 'Bennie@gmail.com')
(698, '1905613076', 'Benson@gmail.com')
(704, '5924483304', 'Berlin@gmail.com')
(707, '7690535189', 'Bernard@gmail.com')
(712, '8677119847', 'Bernhard@gmail.com')
(720, '5205404593', 'Bertha@gmail.com')
(725, '4895794867', 'Bertrand@gmail.com')
(727, '3150642804', 'Bess@gmail.com')
(728, '8591248587', 'Besse@gmail.com')
(734, '9673201988', 'Bethel@gmail.com')
(737, '7696995768', 'Betsy@gmail.com')
(741, '6918138741', 'Betty@gmail.com')
(756, '7895576249', 'Billie@gmail.com')
(762, '8179534611', 'Birdie@gmail.com')
(763, '4220209623', 'Birt@gmail.com')
(764, '7750277400', 'Birtha@gmail.com')
(765, '1310729640', 'Birtie@gmail.com')
(768, '6384240627', 'Blain@gmail.com')
(777, '1960331334', 'Blanchie@gmail.com')
(781, '7355934765', 'Bliss@gmail.com')
(786, '8564780605', 'Bobbi@gmail.com')
(796, '7330924561', 'Boone@gmail.com')
(800, '3088084186', 'Boston@gmail.com')
(802, '7333327612', 'Boyce@gmail.com')
(805, '1745193246', 'Brad@gmail.com')
(806, '8630590695', 'Braden@gmail.com')
(810, '8549563985', 'Brady@gmail.com')
(813, '8952248332', 'Braedon@gmail.com')
(821, '3441208175', 'Branden@gmail.com')
(823, '1174347775', 'Brandie@gmail.com')
(828, '5017777606', 'Brandyn@gmail.com')
(829, '2405798112', 'Brannon@gmail.com')
(830, '8142240007', 'Branson@gmail.com')
(836, '6862692848', 'Brayden@gmail.com')
(837, '1076030747', 'Braydon@gmail.com')
(839, '4086117544', 'Braylon@gmail.com')
(842, '3478004102', 'Breann@gmail.com')
(845, '5229513911', 'Bree@gmail.com')
(852, '3386191421', 'Brennen@gmail.com')
(854, '8508732360', 'Brent@gmail.com')
(862, '1359254296', 'Brianda@gmail.com')
(869, '1720253494', 'Bridgette@gmail.com')
(879, '5386995836', 'Brisa@gmail.com')
(880, '9518132703', 'Britany@gmail.com')
(886, '6142164707', 'Brittaney@gmail.com')
(889, '1354227956', 'Brittany@gmail.com')
(890, '4540501061', 'Brittnay@gmail.com')
(891, '6067586684', 'Brittnee@gmail.com')
(906, '3207532290', 'Brooklynn@gmail.com')
(907, '1115807483', 'Brooks@gmail.com')
(917, '4276268903', 'Brylee@gmail.com')
(922, '8299197572', 'Bryson@gmail.com')
(926, '6557055833', 'Budd@gmail.com')
(927, '6936671082', 'Buddie@gmail.com')
(933, '6122286701', 'Buffy@gmail.com')
(939, '4679506002', 'Burdette@gmail.com')
(946, '6898619707', 'Burley@gmail.com')
(948, '7104926540', 'Burnett@gmail.com')
(951, '7292810275', 'Burnie@gmail.com')
(955, '9523560959', 'Burrell@gmail.com')
(963, '5487551826', 'Byrd@gmail.com')
(966, '3598121949', 'Caddie@gmail.com')
(971, '2398181043', 'Caesar@gmail.com')
(975, '4149293076', 'Caitlin@gmail.com')
(982, '7905362932', 'Caleigh@gmail.com')
(983, '8388985964', 'Calhoun@gmail.com')
(985, '8173420968', 'Calista@gmail.com')
(989, '8497696288', 'Calvin@gmail.com')
(993, '2932707482', 'Cami@gmail.com')
(996, '1801095494', 'Camille@gmail.com')
(5, '6493599305', 'Abagail@gmail.com')
(7, '5351011151', 'Abbey@gmail.com')
(8, '3987614712', 'Abbie@gmail.com')
(9, '1701390575', 'Abbigail@gmail.com')
(18, '7523266480', 'Abie@gmail.com')
(20, '2816479673', 'Abigale@gmail.com')
(26, '1054833835', 'Ace@gmail.com')
(29, '3159659672', 'Acie@gmail.com')
(30, '8727125008', 'Acy@gmail.com')
(35, '4172991067', 'Adalyn@gmail.com')
(38, '2369140747', 'Adamaris@gmail.com')
(40, '1242640297', 'Adan@gmail.com')
(48, '4662736739', 'Adela@gmail.com')
(62, '5455239024', 'Adin@gmail.com')
(67, '5402619420', 'Adline@gmail.com')
(77, '4326194082', 'Adriana@gmail.com')
(86, '4545389653', 'Adyson@gmail.com')
(87, '8219482128', 'Aedan@gmail.com')
(88, '9636718761', 'Affie@gmail.com')
(91, '7214913717', 'Aggie@gmail.com')
(92, '3454798028', 'Agnes@gmail.com')
(95, '8080224200', 'Agustin@gmail.com')
(96, '7427623035', 'Agustus@gmail.com')
(97, '6133214625', 'Ah@gmail.com')
(100, '7759158667', 'Aida@gmail.com')
(120, '2001541489', 'Alana@gmail.com')
(127, '7977270065', 'Albert@gmail.com')
(131, '7203437430', 'Albertine@gmail.com')
(133, '2090584222', 'Albertus@gmail.com')
(150, '1627157576', 'Aleen@gmail.com')
(152, '1040734065', 'Alejandra@gmail.com')
(156, '4487543434', 'Alene@gmail.com')
(159, '1753004166', 'Alessandra@gmail.com')
(160, '6740872836', 'Alessandro@gmail.com')
(162, '3977470142', 'Aletha@gmail.com')
(167, '6953427590', 'Alexander@gmail.com')
(169, '9453377263', 'Alexandra@gmail.com')
(170, '7490701133', 'Alexandre@gmail.com')
(172, '7490054190', 'Alexandria@gmail.com')
(175, '5714293680', 'Alexina@gmail.com')
(187, '3046410093', 'Alfred@gmail.com')
(191, '7027240498', 'Algernon@gmail.com')
(198, '5488685392', 'Alicia@gmail.com')
(207, '3953402863', 'Alisson@gmail.com')
(210, '1030516834', 'Aliyah@gmail.com')
(212, '9767937330', 'Alize@gmail.com')
(214, '3561086126', 'Allan@gmail.com')
(224, '7948584725', 'Ally@gmail.com')
(226, '2371080150', 'Allyson@gmail.com')
(232, '6485976094', 'Almeta@gmail.com')
(241, '5167225834', 'Alondra@gmail.com')
(242, '3813102320', 'Alonso@gmail.com')
(248, '4003765388', 'Alpheus@gmail.com')
(255, '6588759090', 'Alta@gmail.com')
(264, '1624600339', 'Alvaro@gmail.com')
(267, '3335236321', 'Alvera@gmail.com')
(268, '6068437502', 'Alverda@gmail.com')
(272, '9545681247', 'Alvin@gmail.com')
(286, '6487956805', 'Alysha@gmail.com')
(291, '8211067801', 'Alyvia@gmail.com')
(293, '5805206384', 'Ama@gmail.com')
(294, '1643083892', 'Amado@gmail.com')
(314, '7079576463', 'Amerigo@gmail.com')
(316, '6087923144', 'Ami@gmail.com')
(328, '8423844432', 'Amma@gmail.com')
(331, '2900227653', 'Amon@gmail.com')
(336, '2438818154', 'Ana@gmail.com')
(345, '7570417792', 'Anastasia@gmail.com')
(349, '8670076333', 'Ancil@gmail.com')
(351, '4010000731', 'Anderson@gmail.com')
(352, '3971681288', 'Andon@gmail.com')
(354, '9537027451', 'Andrae@gmail.com')
(357, '2503520577', 'Andreas@gmail.com')
(367, '9431224593', 'Angelia@gmail.com')
(382, '2988635973', 'Anissa@gmail.com')
(383, '5822293525', 'Anita@gmail.com')
(389, '4014906834', 'Anjelica@gmail.com')
(393, '2068268989', 'Annabell@gmail.com')
(399, '7557872836', 'Anne@gmail.com')
(415, '8124500208', 'Anthony@gmail.com')
(420, '7581670784', 'Anton@gmail.com')
(430, '3869718963', 'Antwon@gmail.com')
(436, '1942759661', 'Araceli@gmail.com')
(449, '9451669610', 'Ardella@gmail.com')
(450, '7614835380', 'Ardelle@gmail.com')
(455, '1966173333', 'Ardyce@gmail.com')
(462, '1134435302', 'Ariana@gmail.com')
(482, '5768127812', 'Arletta@gmail.com')
(485, '3292856968', 'Arlin@gmail.com')
(488, '6531897166', 'Arlis@gmail.com')
(490, '2236891997', 'Arly@gmail.com')
(497, '3244843216', 'Armida@gmail.com')
(500, '1666169667', 'Arminta@gmail.com')
(501, '5926184698', 'Armond@gmail.com')
(510, '3275729496', 'Arnoldo@gmail.com')
(529, '7546096100', 'Arvilla@gmail.com')
(543, '9121017036', 'Ashlea@gmail.com')
(545, '8438038479', 'Ashleigh@gmail.com')
(550, '5784069975', 'Ashlyn@gmail.com')
(561, '2436528590', 'Atlas@gmail.com')
(562, '9385469503', 'Atticus@gmail.com')
(563, '6328032006', 'Attie@gmail.com')
(566, '2652321811', 'Aubree@gmail.com')
(567, '2086919655', 'Aubrey@gmail.com')
(569, '8755487171', 'Audie@gmail.com')
(571, '4903537532', 'Audra@gmail.com')
(572, '5937327863', 'Audrey@gmail.com')
(574, '4231411223', 'Audrianna@gmail.com')
(578, '6561227457', 'August@gmail.com')
(579, '2573557405', 'Augusta@gmail.com')
(581, '5025591336', 'Augustin@gmail.com')
(584, '5681332742', 'Augustus@gmail.com')
(586, '1626502653', 'Aurelia@gmail.com')
(589, '5324544845', 'Aurora@gmail.com')
(591, '6932684167', 'Aurthur@gmail.com')
(596, '4339862343', 'Auther@gmail.com')
(597, '1459152340', 'Author@gmail.com')
(598, '3399964133', 'Authur@gmail.com')
(601, '1886777907', 'Ava@gmail.com')
(608, '8903986929', 'Avon@gmail.com')
(623, '5793293546', 'Babe@gmail.com')
(628, '5477727432', 'Bailey@gmail.com')
(634, '3578544008', 'Banks@gmail.com')
(636, '8202851270', 'Barbara@gmail.com')
(641, '5652868631', 'Barney@gmail.com')
(651, '4109162196', 'Barton@gmail.com')
(660, '7070816871', 'Beatrice@gmail.com')
(662, '9408204506', 'Beatriz@gmail.com')
(667, '7093827004', 'Beckham@gmail.com')
(673, '1343143433', 'Beecher@gmail.com')
(675, '2789547616', 'Belia@gmail.com')
(679, '6228938985', 'Belle@gmail.com')
(682, '7732748609', 'Ben@gmail.com')
(684, '5002062748', 'Benard@gmail.com')
(689, '3304611608', 'Benjamen@gmail.com')
(691, '1294432341', 'Benjamine@gmail.com')
(692, '3486362861', 'Benji@gmail.com')
(698, '1905613076', 'Benson@gmail.com')
(700, '5116136824', 'Benton@gmail.com')
(714, '3511373629', 'Bernie@gmail.com')
(715, '1761240753', 'Berniece@gmail.com')
(725, '4895794867', 'Bertrand@gmail.com')
(728, '8591248587', 'Besse@gmail.com')
(734, '9673201988', 'Bethel@gmail.com')
(739, '5289462989', 'Bettie@gmail.com')
(745, '5741556225', 'Beula@gmail.com')
(746, '7332570403', 'Beulah@gmail.com')
(748, '8628904997', 'Beverlee@gmail.com')
(753, '9414771005', 'Biddie@gmail.com')
(759, '3541367025', 'Bina@gmail.com')
(763, '4220209623', 'Birt@gmail.com')
(766, '2994297193', 'Bishop@gmail.com')
(772, '6403906499', 'Blake@gmail.com')
(776, '9306502594', 'Blanche@gmail.com')
(786, '8564780605', 'Bobbi@gmail.com')
(787, '6081271597', 'Bobbie@gmail.com')
(795, '3959320262', 'Booker@gmail.com')
(797, '9664557492', 'Boris@gmail.com')
(804, '9640951302', 'Boysie@gmail.com')
(811, '8869712457', 'Bradyn@gmail.com')
(812, '8090250065', 'Braeden@gmail.com')
(813, '8952248332', 'Braedon@gmail.com')
(816, '2212759352', 'Brain@gmail.com')
(826, '5050330236', 'Brandt@gmail.com')
(827, '1874806723', 'Brandy@gmail.com')
(829, '2405798112', 'Brannon@gmail.com')
(831, '6533160577', 'Brant@gmail.com')
(839, '4086117544', 'Braylon@gmail.com')
(841, '7854106804', 'Breana@gmail.com')
(845, '5229513911', 'Bree@gmail.com')
(849, '4834991974', 'Brendon@gmail.com')
(854, '8508732360', 'Brent@gmail.com')
(858, '9484269025', 'Brett@gmail.com')
(860, '6310667813', 'Brian@gmail.com')
(868, '9258445462', 'Bridgett@gmail.com')
(871, '9613536667', 'Brien@gmail.com')
(875, '2000319325', 'Briley@gmail.com')
(880, '9518132703', 'Britany@gmail.com')
(890, '4540501061', 'Brittnay@gmail.com')
(893, '3732672155', 'Brittni@gmail.com')
(898, '7674172053', 'Broderick@gmail.com')
(902, '3938645465', 'Bronson@gmail.com')
(909, '8541630963', 'Bruce@gmail.com')
(913, '9978940360', 'Bryanna@gmail.com')
(916, '8683067609', 'Brycen@gmail.com')
(922, '8299197572', 'Bryson@gmail.com')
(923, '2999598463', 'Bryton@gmail.com')
(932, '9864075621', 'Buena@gmail.com')
(936, '3547837467', 'Bulah@gmail.com')
(961, '4965739648', 'Butler@gmail.com')
(966, '3598121949', 'Caddie@gmail.com')
(981, '5926610209', 'Caleb@gmail.com')
(982, '7905362932', 'Caleigh@gmail.com')
(992, '2494608185', 'Cameron@gmail.com')
(994, '8961598954', 'Camila@gmail.com')
(996, '1801095494', 'Camille@gmail.com')
(998, '8230855174', 'Cammie@gmail.com')
(999, '1321435577', 'Campbell@gmail.com')
(7, '5351011151', 'Abbey@gmail.com')
(10, '1811152358', 'Abbott@gmail.com')
(19, '2617570668', 'Abigail@gmail.com')
(21, '2849626769', 'Abigayle@gmail.com')
(23, '5409457234', 'Abraham@gmail.com')
(26, '1054833835', 'Ace@gmail.com')
(29, '3159659672', 'Acie@gmail.com')
(32, '4633147183', 'Adah@gmail.com')
(34, '4035087121', 'Adaline@gmail.com')
(36, '5864991623', 'Adalynn@gmail.com')
(38, '2369140747', 'Adamaris@gmail.com')
(46, '5992239524', 'Addyson@gmail.com')
(47, '6679284211', 'Adel@gmail.com')
(48, '4662736739', 'Adela@gmail.com')
(50, '8862913660', 'Adelard@gmail.com')
(56, '9440484315', 'Adell@gmail.com')
(59, '1242696714', 'Adelyn@gmail.com')
(64, '1437368279', 'Adison@gmail.com')
(69, '9120730364', 'Adolf@gmail.com')
(70, '1163981320', 'Adolfo@gmail.com')
(75, '3881653024', 'Adria@gmail.com')
(79, '2725591347', 'Adrianna@gmail.com')
(82, '6811234587', 'Adrien@gmail.com')
(92, '3454798028', 'Agnes@gmail.com')
(98, '5673851320', 'Ahmad@gmail.com')
(100, '7759158667', 'Aida@gmail.com')
(130, '6569289340', 'Albertina@gmail.com')
(131, '7203437430', 'Albertine@gmail.com')
(133, '2090584222', 'Albertus@gmail.com')
(139, '9013589654', 'Alcide@gmail.com')
(142, '2486189649', 'Alden@gmail.com')
(145, '6004497888', 'Aleah@gmail.com')
(159, '1753004166', 'Alessandra@gmail.com')
(160, '6740872836', 'Alessandro@gmail.com')
(171, '3359412720', 'Alexandrea@gmail.com')
(173, '1587596361', 'Alexandro@gmail.com')
(182, '1561051704', 'Alfie@gmail.com')
(185, '8057060524', 'Alfonzo@gmail.com')
(192, '3138035112', 'Algie@gmail.com')
(193, '7863826404', 'Algot@gmail.com')
(197, '3496880819', 'Alice@gmail.com')
(203, '7052309267', 'Alisa@gmail.com')
(213, '9289552940', 'Alla@gmail.com')
(216, '1694578084', 'Alleen@gmail.com')
(219, '7813419888', 'Allene@gmail.com')
(226, '2371080150', 'Allyson@gmail.com')
(227, '4706839240', 'Allyssa@gmail.com')
(233, '2412696492', 'Almina@gmail.com')
(239, '2253793911', 'Alois@gmail.com')
(241, '5167225834', 'Alondra@gmail.com')
(252, '5684579266', 'Alphonso@gmail.com')
(256, '1608406634', 'Altha@gmail.com')
(259, '6293633736', 'Alto@gmail.com')
(262, '4878392235', 'Alvah@gmail.com')
(270, '7350050575', 'Alvia@gmail.com')
(273, '8771803838', 'Alvina@gmail.com')
(278, '4854446548', 'Alwin@gmail.com')
(280, '3644001294', 'Alwine@gmail.com')
(287, '4844415903', 'Alysia@gmail.com')
(291, '8211067801', 'Alyvia@gmail.com')
(294, '1643083892', 'Amado@gmail.com')
(298, '8237220775', 'Amani@gmail.com')
(301, '9853138901', 'Amari@gmail.com')
(302, '9558408772', 'Amarion@gmail.com')
(309, '7433627576', 'Ambrose@gmail.com')
(311, '5613598076', 'Amelie@gmail.com')
(313, '3334188704', 'Americo@gmail.com')
(316, '6087923144', 'Ami@gmail.com')
(320, '4691020559', 'Amin@gmail.com')
(321, '4473118085', 'Amina@gmail.com')
(324, '6638741094', 'Amirah@gmail.com')
(330, '4803924039', 'Ammon@gmail.com')
(332, '8809553584', 'Amos@gmail.com')
(337, '5246364826', 'Anabel@gmail.com')
(342, '2686183969', 'Ananias@gmail.com')
(346, '9130207127', 'Anatole@gmail.com')
(347, '4924537006', 'Anaya@gmail.com')
(350, '1126077451', 'Anders@gmail.com')
(352, '3971681288', 'Andon@gmail.com')
(354, '9537027451', 'Andrae@gmail.com')
(355, '9645342632', 'Andre@gmail.com')
(371, '2806914555', 'Angeline@gmail.com')
(372, '6998131829', 'Angelique@gmail.com')
(375, '7914409147', 'Angelo@gmail.com')
(381, '2109287606', 'Anika@gmail.com')
(382, '2988635973', 'Anissa@gmail.com')
(384, '1135901061', 'Anitra@gmail.com')
(385, '2978886141', 'Aniya@gmail.com')
(387, '2446621694', 'Anjali@gmail.com')
(394, '8095957923', 'Annabella@gmail.com')
(401, '2003562969', 'Annemarie@gmail.com')
(403, '6621943379', 'Annetta@gmail.com')
(404, '5174469304', 'Annette@gmail.com')
(406, '5443226309', 'Annie@gmail.com')
(409, '2179143364', 'Annmarie@gmail.com')
(411, '3593297838', 'Ansel@gmail.com')
(426, '5661802407', 'Antonio@gmail.com')
(429, '5291540472', 'Antwan@gmail.com')
(432, '6943454646', 'Anya@gmail.com')
(433, '1924826846', 'April@gmail.com')
(443, '5533101250', 'Archer@gmail.com')
(447, '3319001933', 'Ardelia@gmail.com')
(451, '4503487754', 'Arden@gmail.com')
(474, '9765869781', 'Arla@gmail.com')
(488, '6531897166', 'Arlis@gmail.com')
(493, '3132378954', 'Arman@gmail.com')
(500, '1666169667', 'Arminta@gmail.com')
(502, '9131901444', 'Armstead@gmail.com')
(503, '3144575658', 'Arnav@gmail.com')
(506, '7309381415', 'Arnetta@gmail.com')
(509, '2944006728', 'Arnold@gmail.com')
(510, '3275729496', 'Arnoldo@gmail.com')
(517, '9081877267', 'Art@gmail.com')
(519, '1390662418', 'Artelia@gmail.com')
(521, '4957287700', 'Arthor@gmail.com')
(522, '2446306923', 'Arthur@gmail.com')
(523, '2966952989', 'Artie@gmail.com')
(529, '7546096100', 'Arvilla@gmail.com')
(536, '5526489255', 'Asberry@gmail.com')
(539, '1391045838', 'Ashanti@gmail.com')
(547, '9900187804', 'Ashli@gmail.com')
(548, '1039500333', 'Ashlie@gmail.com')
(561, '2436528590', 'Atlas@gmail.com')
(562, '9385469503', 'Atticus@gmail.com')
(569, '8755487171', 'Audie@gmail.com')
(573, '8236433649', 'Audriana@gmail.com')
(582, '9724950767', 'Augustina@gmail.com')
(584, '5681332742', 'Augustus@gmail.com')
(588, '4238756409', 'Aurilla@gmail.com')
(591, '6932684167', 'Aurthur@gmail.com')
(603, '3231206167', 'Averi@gmail.com')
(609, '2307117687', 'Axel@gmail.com')
(612, '8506363336', 'Ayanna@gmail.com')
(619, '4607310157', 'Azalee@gmail.com')
(631, '2057180233', 'Ballard@gmail.com')
(632, '7399755059', 'Bama@gmail.com')
(633, '4345673628', 'Bambi@gmail.com')
(639, '4901512062', 'Barnard@gmail.com')
(646, '9461748378', 'Barron@gmail.com')
(653, '7570194650', 'Basil@gmail.com')
(660, '7070816871', 'Beatrice@gmail.com')
(663, '8964134724', 'Beau@gmail.com')
(666, '4510439647', 'Beckett@gmail.com')
(675, '2789547616', 'Belia@gmail.com')
(677, '7295725356', 'Bell@gmail.com')
(679, '6228938985', 'Belle@gmail.com')
(685, '5386240123', 'Benedict@gmail.com')
(687, '3161304916', 'Benito@gmail.com')
(689, '3304611608', 'Benjamen@gmail.com')
(696, '1167066223', 'Bennie@gmail.com')
(697, '1721679714', 'Benny@gmail.com')
(699, '8139565378', 'Bentley@gmail.com')
(702, '3644002970', 'Berenice@gmail.com')
(716, '6626620317', 'Bernita@gmail.com')
(719, '3748388151', 'Berta@gmail.com')
(721, '7169024153', 'Bertie@gmail.com')
(722, '8219750953', 'Bertina@gmail.com')
(729, '7008291054', 'Bessie@gmail.com')
(730, '2511392510', 'Beth@gmail.com')
(731, '9712173135', 'Betha@gmail.com')
(734, '9673201988', 'Bethel@gmail.com')
(735, '3460423557', 'Bethzy@gmail.com')
(753, '9414771005', 'Biddie@gmail.com')
(757, '8997638955', 'Billy@gmail.com')
(761, '2068770790', 'Birdella@gmail.com')
(773, '7547078439', 'Blanca@gmail.com')
(776, '9306502594', 'Blanche@gmail.com')
(785, '8075916357', 'Bob@gmail.com')
(788, '1617577975', 'Bobby@gmail.com')
(791, '2908144160', 'Bolden@gmail.com')
(808, '5640281883', 'Bradley@gmail.com')
(811, '8869712457', 'Bradyn@gmail.com')
(818, '7126227966', 'Brandan@gmail.com')
(819, '2569639131', 'Brande@gmail.com')
(822, '1132619756', 'Brandi@gmail.com')
(828, '5017777606', 'Brandyn@gmail.com')
(848, '6502412910', 'Brenden@gmail.com')
(874, '6755277823', 'Brigitte@gmail.com')
(880, '9518132703', 'Britany@gmail.com')
(887, '2658163256', 'Brittani@gmail.com')
(888, '7678743015', 'Brittanie@gmail.com')
(891, '6067586684', 'Brittnee@gmail.com')
(893, '3732672155', 'Brittni@gmail.com')
(903, '8188444252', 'Brook@gmail.com')
(908, '8504411804', 'Brown@gmail.com')
(911, '3447738419', 'Bryan@gmail.com')
(915, '8912198175', 'Bryce@gmail.com')
(916, '8683067609', 'Brycen@gmail.com')
(919, '2368377380', 'Brynlee@gmail.com')
(928, '2835051867', 'Buddy@gmail.com')
(930, '3809128742', 'Buelah@gmail.com')
(934, '8719937693', 'Buford@gmail.com')
(935, '3755499861', 'Bula@gmail.com')
(943, '2987939293', 'Burke@gmail.com')
(949, '3994345766', 'Burney@gmail.com')
(956, '2848470487', 'Burt@gmail.com')
(958, '5500129817', 'Bush@gmail.com')
(960, '5068790742', 'Butch@gmail.com')
(964, '9555853373', 'Byrdie@gmail.com')
(967, '1257887394', 'Cade@gmail.com')
(968, '2104714320', 'Caden@gmail.com')
(973, '8188836358', 'Cailyn@gmail.com')
(974, '9284489952', 'Cain@gmail.com')
(981, '5926610209', 'Caleb@gmail.com')
(996, '1801095494', 'Camille@gmail.com')
(997, '4954460365', 'Camisha@gmail.com')

### 19. List all retailer ids whose products, user_id = 1 have purchased.

In [115]:
 def list_retailers(mydb,user):
    
    query = """
    select Products.retailer_ID
    from Products inner join
    (select *
    from Orders
    where Orders.user_ID= %s ) as A
    on A.product_ID=Products.product_ID;

    """
    dbcursor=mydb.cursor()
    dbcursor.execute(query,(user,))
    print("Retailer Ids")
    for line in dbcursor:
        print(line)

In [116]:
list_retailers(mydb,1)

Retailer Ids
(19,)
(22,)
(48,)
(47,)
(47,)
(10,)
(48,)
(40,)
(10,)

### 20. Write a query to update the discount on all new products by 15% and store it as a new table holi_Deals. Note: Any product that is added to the database in the last 100 days is considered to be a new product.

In [185]:
def new_deals(mydb,tablename,discount):


    table_create ="""
    CREATE TABLE if not exists {table} (
    product_ID int,
    product_Name varchar(50),
    category_ID int,
    date_added date,
    price float(2),
    retailer_ID int);
    """.format(table=tablename)

    dbcursor = mydb.cursor()
    dbcursor.execute(table_create)
    mydb.commit()
    
    discount_factor = 1-int(discount)/100
    query="""

    INSERT INTO {table}
    (product_ID,product_Name,category_ID,date_added,price,retailer_ID) 
    SELECT product_ID,product_Name,category_ID,date_added,price*%s,retailer_ID 
    from Products 
    WHERE date_added >=(DATE(NOW()) - INTERVAL 100 DAY) 
    ORDER BY date_added DESC;


    """.format(table=tablename)

    dbcursor.execute(query,(discount_factor,))
    mydb.commit()
    dbcursor.execute("select * from {table}".format(table=tablename))
    for line in dbcursor:
        print(line)

In [186]:
new_deals(mydb,'holi_Deals','15'    )

(55, 'The Intelligent Investor', 3, datetime.date(2021, 2, 1), 95.2, 44)
(57, 'The Kite Runner', 3, datetime.date(2021, 1, 28), 255.0, 39)
(56, 'The lean Startup', 3, datetime.date(2021, 1, 24), 212.5, 40)
(58, 'The Mechanic', 3, datetime.date(2021, 1, 20), 340.0, 39)
(54, 'Cut and Sew Denim Jeans', 1, datetime.date(2020, 12, 13), 727.6, 49)
(53, 'Slim Fit Denim Jeans', 1, datetime.date(2020, 12, 12), 449.65, 48)
(48, 'Mens Bomber Jacket', 1, datetime.date(2020, 12, 10), 859.35, 48)
(55, 'The Intelligent Investor', 3, datetime.date(2021, 2, 1), 95.2, 44)
(57, 'The Kite Runner', 3, datetime.date(2021, 1, 28), 255.0, 39)
(56, 'The lean Startup', 3, datetime.date(2021, 1, 24), 212.5, 40)
(58, 'The Mechanic', 3, datetime.date(2021, 1, 20), 340.0, 39)
(54, 'Cut and Sew Denim Jeans', 1, datetime.date(2020, 12, 13), 727.6, 49)
(53, 'Slim Fit Denim Jeans', 1, datetime.date(2020, 12, 12), 449.65, 48)
(48, 'Mens Bomber Jacket', 1, datetime.date(2020, 12, 10), 859.35, 48)
(55, 'The Intelligent Investor', 3, datetime.date(2021, 2, 1), 95.2, 44)
(57, 'The Kite Runner', 3, datetime.date(2021, 1, 28), 255.0, 39)
(56, 'The lean Startup', 3, datetime.date(2021, 1, 24), 212.5, 40)
(58, 'The Mechanic', 3, datetime.date(2021, 1, 20), 340.0, 39)
(54, 'Cut and Sew Denim Jeans', 1, datetime.date(2020, 12, 13), 727.6, 49)
(53, 'Slim Fit Denim Jeans', 1, datetime.date(2020, 12, 12), 449.65, 48)
(48, 'Mens Bomber Jacket', 1, datetime.date(2020, 12, 10), 859.35, 48)
(55, 'The Intelligent Investor', 3, datetime.date(2021, 2, 1), 95.2, 44)
(57, 'The Kite Runner', 3, datetime.date(2021, 1, 28), 255.0, 39)
(56, 'The lean Startup', 3, datetime.date(2021, 1, 24), 212.5, 40)
(58, 'The Mechanic', 3, datetime.date(2021, 1, 20), 340.0, 39)
(54, 'Cut and Sew Denim Jeans', 1, datetime.date(2020, 12, 13), 727.6, 49)
(53, 'Slim Fit Denim Jeans', 1, datetime.date(2020, 12, 12), 449.65, 48)
(48, 'Mens Bomber Jacket', 1, datetime.date(2020, 12, 10), 859.35, 48)
(55, 'The Intelligent Investor', 3, datetime.date(2021, 2, 1), 95.2, 44)
(57, 'The Kite Runner', 3, datetime.date(2021, 1, 28), 255.0, 39)
(56, 'The lean Startup', 3, datetime.date(2021, 1, 24), 212.5, 40)
(58, 'The Mechanic', 3, datetime.date(2021, 1, 20), 340.0, 39)
(54, 'Cut and Sew Denim Jeans', 1, datetime.date(2020, 12, 13), 727.6, 49)
(53, 'Slim Fit Denim Jeans', 1, datetime.date(2020, 12, 12), 449.65, 48)
(48, 'Mens Bomber Jacket', 1, datetime.date(2020, 12, 10), 859.35, 48)
(55, 'The Intelligent Investor', 3, datetime.date(2021, 2, 1), 95.2, 44)
(57, 'The Kite Runner', 3, datetime.date(2021, 1, 28), 255.0, 39)
(56, 'The lean Startup', 3, datetime.date(2021, 1, 24), 212.5, 40)
(58, 'The Mechanic', 3, datetime.date(2021, 1, 20), 340.0, 39)
(54, 'Cut and Sew Denim Jeans', 1, datetime.date(2020, 12, 13), 727.6, 49)
(53, 'Slim Fit Denim Jeans', 1, datetime.date(2020, 12, 12), 449.65, 48)
(48, 'Mens Bomber Jacket', 1, datetime.date(2020, 12, 10), 859.35, 48)
(55, 'The Intelligent Investor', 3, datetime.date(2021, 2, 1), 95.2, 44)
(57, 'The Kite Runner', 3, datetime.date(2021, 1, 28), 255.0, 39)
(56, 'The lean Startup', 3, datetime.date(2021, 1, 24), 212.5, 40)
(58, 'The Mechanic', 3, datetime.date(2021, 1, 20), 340.0, 39)
(54, 'Cut and Sew Denim Jeans', 1, datetime.date(2020, 12, 13), 727.6, 49)
(53, 'Slim Fit Denim Jeans', 1, datetime.date(2020, 12, 12), 449.65, 48)
(48, 'Mens Bomber Jacket', 1, datetime.date(2020, 12, 10), 859.35, 48)
(55, 'The Intelligent Investor', 3, datetime.date(2021, 2, 1), 95.2, 44)
(57, 'The Kite Runner', 3, datetime.date(2021, 1, 28), 255.0, 39)
(56, 'The lean Startup', 3, datetime.date(2021, 1, 24), 212.5, 40)
(58, 'The Mechanic', 3, datetime.date(2021, 1, 20), 340.0, 39)
(54, 'Cut and Sew Denim Jeans', 1, datetime.date(2020, 12, 13), 727.6, 49)
(53, 'Slim Fit Denim Jeans', 1, datetime.date(2020, 12, 12), 449.65, 48)
(48, 'Mens Bomber Jacket', 1, datetime.date(2020, 12, 10), 859.35, 48)