In [2]:
import pandas as pd

## Insert Teams into Database

In [8]:

team_df = pd.read_csv("./dataset/team.csv")
team_f = open('./insert/team.sql','w')
team_f.write("use ipl; \n\n")
a=team_df.columns

query = f"INSERT INTO team VALUES "
team_f.write(query)
for j in range(len(team_df)):
    query = f"("
    for i in range(len(team_df.columns)):
        if i==len(team_df.columns)-1:
            query = query + f"'{team_df[a[i]][j]}'"         
        else:
            query = query + f"'{team_df[a[i]][j]}',"
            
    if j==len(team_df)-1:
        query = query + ') ;'
    else:
        query = query + '),'
    team_f.write(query)



team_f.close()

## Insert Players into Database

In [7]:

player_df = pd.read_csv("./dataset/player.csv")
player_f = open('./insert/player.sql','w')
player_f.write("use ipl; \n\n")
a=player_df.columns

query = f"INSERT INTO player VALUES "
player_f.write(query)
for j in range(len(player_df)):
    query = f"("
    for i in range(len(player_df.columns)):
        if i==len(player_df.columns)-1:
            query = query + f"'{player_df[a[i]][j]}'"         
        else:
            query = query + f"'{player_df[a[i]][j]}',"
            
    if j==len(player_df)-1:
        query = query + ') ;'
    else:
        query = query + '),'
    player_f.write(query)



player_f.close()

## Insert Ball by Ball

In [6]:

ball_by_ball_df = pd.read_csv("./dataset/ball_by_ball.csv")
ball_by_ball_f = open('./insert/ball_by_ball.sql','w')
ball_by_ball_f.write("use ipl; \n\n")
a=ball_by_ball_df.columns

query = f"INSERT INTO ball_by_ball VALUES "
ball_by_ball_f.write(query)
for j in range(len(ball_by_ball_df)):
    query = f"("
    for i in range(len(ball_by_ball_df.columns)):
        if i==len(ball_by_ball_df.columns)-1:
            query = query + f"'{ball_by_ball_df[a[i]][j]}'"         
        else:
            query = query + f"'{ball_by_ball_df[a[i]][j]}',"
            
    if j==len(ball_by_ball_df)-1:
        query = query + ') ;'
    else:
        query = query + '),'
    ball_by_ball_f.write(query)



ball_by_ball_f.close()

## Insert into Wicket Taken

In [12]:

wicket_taken_df = pd.read_csv("./dataset/wicket_taken.csv")
wicket_taken_f = open('./insert/wicket_taken.sql','w')
wicket_taken_f.write("use ipl; \n\n")
a=wicket_taken_df.columns

query = f"INSERT INTO wicket_taken VALUES "
wicket_taken_f.write(query)
for j in range(len(wicket_taken_df)):
    query = f"("
    for i in range(len(wicket_taken_df.columns)):
        if i==len(wicket_taken_df.columns)-1:
            query = query + f"'{wicket_taken_df[a[i]][j]}'"         
        else:
            query = query + f"'{wicket_taken_df[a[i]][j]}',"
            
    if j==len(wicket_taken_df)-1:
        query = query + ') ;'
    else:
        query = query + '),'
    wicket_taken_f.write(query)



wicket_taken_f.close()

## Insert into batsman scored

In [13]:

batsman_scored_df = pd.read_csv("./dataset/batsman_scored.csv")
batsman_scored_f = open('./insert/batsman_scored.sql','w')
batsman_scored_f.write("use ipl; \n\n")
a=batsman_scored_df.columns

query = f"INSERT INTO batsman_scored VALUES "
batsman_scored_f.write(query)
for j in range(len(batsman_scored_df)):
    query = f"("
    for i in range(len(batsman_scored_df.columns)):
        if i==len(batsman_scored_df.columns)-1:
            query = query + f"'{batsman_scored_df[a[i]][j]}'"         
        else:
            query = query + f"'{batsman_scored_df[a[i]][j]}',"
            
    if j==len(batsman_scored_df)-1:
        query = query + ') ;'
    else:
        query = query + '),'
    batsman_scored_f.write(query)



batsman_scored_f.close()

## Insert into Match

In [36]:

match_df = pd.read_csv("./dataset/match.csv")
match_df['venue(text)']=match_df['venue(text)'].replace(["St George's Park"],"St George''s Park")
match_f = open('./insert/match.sql','w')
match_f.write("use ipl; \n\n")
a=match_df.columns

query = f"INSERT INTO match_details VALUES "
match_f.write(query)
for j in range(len(match_df)):
    query = f"("
    for i in range(len(match_df.columns)):
        if i==len(match_df.columns)-1:
            query = query + f"'{match_df[a[i]][j]}'"         
        else:
            query = query + f"'{match_df[a[i]][j]}',"
            
    if j==len(match_df)-1:
        query = query + ') ;'
    else:
        query = query + '),'
    match_f.write(query)



match_f.close()

## Insert into Player Match

In [16]:

player_match_df = pd.read_csv("./dataset/player_match.csv")
player_match_f = open('./insert/player_match.sql','w')
player_match_f.write("use ipl; \n\n")
a=player_match_df.columns

query = f"INSERT INTO player_match VALUES "
player_match_f.write(query)
for j in range(len(player_match_df)):
    query = f"("
    for i in range(len(player_match_df.columns)):
        if i==len(player_match_df.columns)-1:
            query = query + f"'{player_match_df[a[i]][j]}'"         
        else:
            query = query + f"'{player_match_df[a[i]][j]}',"
            
    if j==len(player_match_df)-1:
        query = query + ') ;'
    else:
        query = query + '),'
    player_match_f.write(query)



player_match_f.close()

## Insert into Extra Runs

In [38]:

extra_runs_df = pd.read_csv("./dataset/extra_runs.csv")
extra_runs_f = open('./insert/extra_runs.sql','w')
extra_runs_f.write("use ipl; \n\n")
a=extra_runs_df.columns

query = f"INSERT INTO extra_runs VALUES "
extra_runs_f.write(query)
for j in range(len(extra_runs_df)):
    query = f"("
    for i in range(len(extra_runs_df.columns)):
        if i==len(extra_runs_df.columns)-1:
            query = query + f"'{extra_runs_df[a[i]][j]}'"         
        else:
            query = query + f"'{extra_runs_df[a[i]][j]}',"
            
    if j==len(extra_runs_df)-1:
        query = query + ') ;'
    else:
        query = query + '),'
    extra_runs_f.write(query)



extra_runs_f.close()